[package]
name = "jayce"
version = "0.2.2"
edition = "2021"
description = "jayce is a blazing fast tokenizer"
repository = "https://github.com/AuracleTech/jayce"
license = "MIT"

[dependencies]
regex = "1.5.5"
